/* navigation bar details */
.navbar {
    z-index: 1000; 
    position: relative;
    display: flex;
    justify-content: space-between; 
    height: 90px;
}

/* Header of navigation bar details */
.h1 {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 17rem;
}

/* button details */
.custom-btn {
    background-color: #fc9272; 
    transition: background-color 0.3s, border-color 0.3s;
}

/* legend button details */
.btn.btn-primary {
    background-color: #fc9272;
    color: #00000080;
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #67000d;
    position: right;
}

/* dropdown menu details */
.nav-item.dropdown {
    background-color: #fc9272; /* Matching the blue color for both */
    border-radius: 4px;
    border: 1px solid #67000d;
    transition: background-color 0.3s, border-color 0.3s;
    padding-left: 2px;
    padding-right: 2px;
}

.dropdown-menu {
    --bs-dropdown-link-active-bg: #67000d !important;
}

/* resource button details */
.nav-link {
    color: #00000080 !important;
}

.btn-primary {
    --bs-btn-hover-bg: #67000d !important;
    --bs-btn-hover-border-color: #67000d !important;
    --bs-btn-border-color: #67000d !important;
}

/* off canvas details */
.offcanvas {
    z-index: 1000;
}

/* legend details */
.legend {
    position: absolute;
    bottom: 60px;
    right: 60px;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    z-index: 100;
}

.legend h4 {
    font-size: 16px;
    margin-bottom: 10px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend span {
    width: 50px;
    height: 30px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
}

/* map details */
.map {
    position: absolute;
    top: 56px; 
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}

